<div class="container">
	
	<div class="row">

		<div class= "col-sm-6 col-sm-offset-3">


		<h1><%= form_title %> </h1>

		<% if @post.errors.any? %>
		  <div class="alert alert-danger">
		    <ul>
		    <% @post.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
		<br>


		<%= form_for @post do |f |%>


		<div class="form-group">
			<%= f.text_field :title, class: "form-control input-lg", placeholder: "Escribe el titulo del Post" %>
		</div>

		<div class="form-group">
			<%= f.text_area :body, class: "form-control input-lg", placeholder: "Escribe el contenido de tu Post" %>
		</div>

		<div class="form-group">
			<%= f.submit form_title, class: "form-control input-lg" %>
		</div>



		<% end %>
			
		</div>
	</div>
</div>