<div class="container">
	
	<div class="row">
		
		<div class= "col-sm-6 col-sm-offset-3">

			<%=link_to "Volver",posts_path %>
			<br>

			<h1><%= @post.title %></h1>
			<br>
			<p class="text-justify"><%= markdown(@post.body) %></p>
			<br>
			<h3>Comentarios:</h3>

			<% @post.comments.each do |comment| %>
			  <div class="panel panel-default">
			    <header class="panel-heading"><%= comment.user.email %></header>
			    <div class="panel-body"><%= comment.body %></div>
			  </div>
			<% end %>

			<% if signed_in? %>
			  <%= form_for [@post, @post.comments.build] do |f| %>
			    <div class="form-group">
			      <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
			    </div>

			    <div class="actions text-right">
			      <%= f.submit "Comentar", class: "btn btn-primary" %>
			    </div>
			  <% end %>
			<% end %>
			
			

		</div>
	</div>
</div>